* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: skyblue;
  height: 100vh;
}

input {
  outline: none;
}

.error {
  border: 2px solid red;
}
.colors {
  display: grid;
  grid-template-columns: repeat(10, 2fr);
  grid-template-rows: repeat(3, 1fr);
}
article {
  width: 150px;
  height: 200px;
}

.color {
  padding: 1rem;
  color: rgb(58, 54, 54);
  cursor: pointer;
}
.color-light {
  color: #fff;
}

.alert {
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}
